{% extends "layouts/default.njk" %}
{% set base_path = "../" %}
{% set page_title = "Home" %}
{% set page_description = "This is the home page" %}
{% block main %}
<main>
  <section class="youtube container">
    <h2 class="youtube__title">
      <p class="youtube__title-dark">Что же это такое,</p>
      <p class="youtube__title-main">когнитивные искажения?</p>
    </h2>
    <p class="youtube__video_description">Что такое когнитивные искажения. Petrovna Channel</p>
    <iframe class="youtube__video" width="919" height="569" src="https://www.youtube.com/embed/jie9AizBqss"
      frameborder="0" allowfullscreen></iframe>
  </section>
  <section class="main-menu">
    <nav class="main-menu__card_container container">
      <a href="#" class="main-menu__card title">
        <span class="main-menu__card-main">5 когнитивных искажений</span>
        о существовании которых стоит помнить
      </a>
      <a href="#" class="main-menu__card">
        <p class="main-menu__card-number">1</p>
        <p class="main-menu__card-title">Эффект ИКЕА</p>
        <p class="main-menu__card-description">
          Вы переоцениваете собственные решения, и, как следствие, недооцениваете решения других.
        </p>
      </a>
      <a href="#" class="main-menu__card">
        <p class="main-menu__card-number">2</p>
        <p class="main-menu__card-title">Преждевременная оптимизация</p>
        <p class="main-menu__card-description">
          Вы оптимизируете что-то задолго до того, как в этом появляется необходимость.
        </p>
      </a>
      <a href="#" class="main-menu__card">
        <p class="main-menu__card-number">3</p>
        <p class="main-menu__card-title">Искажение новизны</p>
        <p class="main-menu__card-description">
          Вы даёте более высокую оценку тем событиям, которые произошли недавно, и недооцениваете более старые.
        </p>
      </a>
      <a href="#" class="main-menu__card">
        <p class="main-menu__card-number">4</p>
        <p class="main-menu__card-title">Гиперболическое обесценивание</p>
        <p class="main-menu__card-description">
          Вы гонитесь за немедленной маленькой выгодой и игнорируете более крупную, недоступную сейчас, но доступную в
          будущем.
        </p>
      </a>
      <a href="#" class="main-menu__card">
        <p class="main-menu__card-number">5</p>
        <p class="main-menu__card-title">Ошибка планирования</p>
        <p class="main-menu__card-description">
          Неправильно рассчитывать время необходимое для завершения задачи.
        </p>
      </a>
    </nav>
  </section>
</main>
{% endblock %}