{% extends "layouts/default.njk" %}
{% set base_path = "../" %}
{% set page_title = "Home" %}
{% set page_description = "This is the home page" %}
{% block main %}
<main>
  <section class="youtube">
    <h2 class="youtube__title">
      <div class="youtube__title-dark">Что же это такое,</div>
      <div class="youtube__title-main">когнитивные искажения?</div>
    </h2>
    <iframe class="youtube__video" width="919" height="569" src="https://www.youtube.com/embed/jie9AizBqss"
      frameborder="0" allowfullscreen></iframe>
  </section>
</main>
{% endblock %}