.header {
  min-height: 100vh;

  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;

  &__img {
    position: relative;
    top: 55px;
    right: -270px;

    height: 525px;
  }
}
