@font-face {
  font-weight: 400;
  font-family: 'Open Sans Normal';
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: 'Neucha';
  font-style: normal;
  src: url("../fonts/Neucha.ttf") format("truetype");
}

* {
  color: #2a2626;
  font-size: 1.6em;
  line-height: 1.6;
}

h1,
h2,
h3 {
  line-height: 1.6em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
}

section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px 0;
}

.header {
  min-height: 100vh;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
