.youtube {
  margin: 30px auto;
  padding-top: 100px;

  text-align: center;

  &__title {
    font-family: 'Neucha', serif;

    &-dark {
      color: $dark;
    }

    &-main {
      color: $main;
    }
  }

  &__video {
    position: relative;
    top: 100px;

    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));

    &_description {
      margin-top: 35px;
      // margin: 35px auto;

      font-family: 'Open Sans Normal', sans-serif;
    }
  }
}

.main-menu {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    background-color: $main-dark;

    content: '';
  }
  padding: 200px 164px 100px;

  .main-menu__card_container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;

    .main-menu__card {
      max-width: 350px;
      height: 348px;
      margin: 15px;
      padding: 24px;

      font-family: 'Neucha', serif;

      background-color: $light;

      &-number {
        font-size: 64px;
      }

      &-title {
        color: $main;
        font-size: 34px;
      }

      &-description {
        color: $dark;
        font-size: 16px;
        font-family: 'Open Sans Normal', sans-serif;
      }
    }

    .main-menu__card.title {
      max-width: 350px;
      height: 348px;
      padding: 0;

      color: $color-white;

      font-size: 52px;
      line-height: 1.2;

      background: transparent;
    }

    .main-menu__card-main {
      color: $main;
    }
  }
}

.ikea {
  position: relative;

  padding: 100px 0 0;

  font-family: 'Neucha', serif;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;

    content: '';
  }
}

.ikea__title-container {
  display: flex;
}

.ikea__title-wrapper {
  margin-left: auto;
}

.ikea__img {
  position: absolute;
  top: 60px;
  left: -50px;

  height: 405px;
}

.ikea__symptoms {
  margin-top: 270px;
  padding: 4px;

  color: $color-white;
  font-size: 14px;

  font-family: 'Open Sans Normal', sans-serif;

  background-color: $brown;
}

.ikea__title-grey {
  color: $translucent-dar;
  font-size: 24px;
}

.ikea__title_main-dark {
  margin-bottom: 24px;

  color: $dark;
}

.ikea__title_sub-dark {
  max-width: 540px;

  color: $dark;
  font-size: 34px;
}

.ikea__description-wrapper {
  display: flex;
  margin-top: 24px;
}
